*{
                    color: rgb(20, 137, 137);
}



#headingone
{
                    color: rgb(6, 174, 73);
}
#headingtwo{
                    color: rgb(63, 5, 110);
}
body
{
                    background-color: rgb(190, 6, 88);
}
button
{
                    background-color: rgb(236, 248, 4); 
}